@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

a {
  text-decoration: none;
  display: inline;
}

img {
  width: 100%;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

.purple {
  color: #7342d6;
}

p {
  line-height: 1.5;
  font-size: 18px;
 
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title {
  font-size: 48px;
  font-weight: 900px;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

#features .section__title,
#pricing .section__title {
  text-align: center;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: rgb(124, 139, 161);
  line-height: 1.625;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms;
}

botton {
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: rgba(80, 17, 204)
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

/* NAVIGATION */

nav {
  display: flex;
  padding-top: 32px;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
  /* display: flex: */
  /* align-items: center; */
  /* flex-direction: column; */
}

nav {
  display: flex;
  padding: top;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}
.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  margin: 0 24px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px black;
  position: relative;
  transition: all 300ms ease;
}

.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  transition: all 300ms ease;
  opacity: 0;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
}
  
.nav__link--primary:after {
  content: "";
  width: 0;
  height: 0;
}

.nav__link--primary:hover {
  background-color: rgba(80, 17, 204);
  color: white;
}

.login {
  margin-left: 48px;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}

.btn__menu {
  background-color: black;
  border: none;
  display: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

.menu { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition:  all 300ms ease;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu--open .menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.menu__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.menu__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* HEADER / ABOUT US */

section {
  padding: 0 32px;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container {
  max-width: 1200px;
}

.header__img {
  width: 100%;
  padding: 0 64px;
}

.header__img--wraper {
  width: calc(100% -40%);
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}
header {
  position: relative;
}

.header__blob {
  position: relative;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  width: 256px;
  height: 256px;
  transform: matrix(1, 0, 0, 1, -163, 0);
}

.header__description {
  width: 40%;
}

.header__description--para {
  margin: 32px 0;
}
.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--input::placeholder {
font-weight: 500;
color: rgb(158, 170, 189);
}

.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: rgba(100, 21, 255);
}

.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.header__email--btn:hover {
  background-color: rgba(60, 13, 153);
}



/* FEATURES */

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .section__title,
#pricing .section__title {
  text-align: center;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.feature {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: calc(100% / 3);
}
.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature__img {
  width: 24px;
  height: 24px;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px / 3);
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}



.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__blob {
  transform: translateX(96px) translateY(192px) scaleX(1) scaleY(1);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16rem;
  opacity: 0.25;
  padding: 16px;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* QUALITY WORK */

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#quality .section__title,
#values .section__title {
  line-height: 1.25;
}

#quality .btn {
  margin-top: 32px;
}

.quality__img {
  z-index: 1;
}

.quality__description {
  max-width: 576px;
  margin-right: 64px;
}

.quality__description, .quality__img--wrapper {
  width: 50%;
}

.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  position: relative;
  margin: 0 56px;
  z-index: 2;
  display: flex;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: 0;
  display: block;
}

/* Steps */

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step__img {
  z-index: 2;
}

.steps__description, .steps__img--wrapper {
  width: 50%;
}

.steps__description {
  padding: 32px 0;
  padding-left: 64px;
}

.steps__img--wrapper {
  display: flex;
  position: relative;
  
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600px;
  line-height: 1;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

.step__title {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

.steps__grid {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  opacity: 0.8;
  z-index: -10;
  color:rgb(100, 21, 255); /*currentColor will inherit this */
  fill: currentColor;
}

/* VALUES */

#values {
  padding: o auto;
}

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#values .section__title {
  margin-top: 16px;
  margin-bottom: 32px;
}

#values .btn {
  margin-top: 48px;
}

.value {
  margin-top: 2px;
  margin-right: 2px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.values__description {
  padding: 32px 64px 32px 0;
}

.values__description,
.values__img {
  width: 50%;
}

.values__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__list {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  max-width: none;
  flex-direction: row;
}

.value:nth-of-type(1) {
  margin-top: 32px;
  margin-bottom: 32px;
}

.value:nth-of-type(2) {
  margin-top: 32px;
}

.value__title {
  display: flex;
  align-items: center;
}
.value__img {
  width: 20px;
  height: 20px;
}
 .value:nth-child(1) .value__img wrapper {
  background-color: #9ae6b4;
 }

 .value:nth-child(2) .value__img wrapper {
  background-color: #feb2b2;
 }

 .value__img--wraper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
 }

 .value__name {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
 }
 .value__para {
  margin-top: 16px;
  line-height: 1.625;
  color: #718096;
 }
















  /* MEDIA RESPONSINESS */

  @media (max-width: 1200px) {
    .header__img {
      max-width: 512px;
    }
  }

  @media (max-width: 768px) {
    .section__para {
      font-size: 14px;
    }
  }
  @media (max-width: 1024px) {
    .section__para {
      font-size: 16px;
    }
  }

  @media (max-width: 1024px) {
    .section__title {
      font-size: 36px;
    }
  }



 



/* LANDING */